html, body {
    margin: 0;
    padding: 0;
    font-family: 'Amatic', sans-serif;
  }

  .barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .header-desktop {
    padding: 0px 0px 40px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    width: 1400px;
  }
  
  
  .header-desktop a {
    color: #333;
    margin:0;
    border: 0px;
  }
  /*.header-desktop {
    background-color: pink;
  }*/
  
  nav {
    display: inline-block;
    margin-bottom: 1px;
    margin-top: 1px;
    text-align: right;
    width: 99%;
  }

  .small-image {
     width: 24%;
     height: 5.75em;
     margin-bottom: -30px;
  }

  .top-container nav span a {
    margin-right: 32px;
    margin-left: 5px;
    color:rgb(105, 104, 104);
    font-size: 22px;
  }
  
  .logo-container-header-mobile img {
    display: none;
  }

  
  @media screen and (max-width: 768px){
    .logo-container-header-mobile {
     
      flex-direction: row;
      justify-content: space-around;
      height: auto;
      /*min-height: 50px;*/
      gap: 90px;
      margin-left: 15px;
      width: 50%; 
    }

    .logo-container-header-mobile img {
      display: block;
      width: 20%;
      height: auto;
      visibility: visible;
    }

    .header-desktop{
      display: none;
    }

    .container h2 {
      margin-right: 80px;
      text-align: center;
      font-size: 20%;
    }
  }
  
  @media screen and (min-width: 1824px) {
    .header-desktop {
      width: 100%;
      margin-left: 1px;
    }
  } 

  @media only screen and (max-width: 570px) {
    .header-desktop, .top-container {
      display: none;
    }
  }
 
  
  h1 {
    font-size: 40px;
    color: dodgerblue;
  }

  .body-container {
    display: flex;
    justify-content: space-around;
    background-color: lemonchiffon;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;

  }
  .body-container img {
      width: 30%;
      height: auto;
      max-width: 100%;
      object-position: center;
  }
  
  .body {
    margin-left: 50px;
  }
   
  .container {
    margin: 0 auto;
    
    
  }
  
  .spacer {
    max-width: 1200px;
    margin: auto;
  }
  
  .main {
    background-color: lemonchiffon;
  }
  
  
  
  
  /*Jumbotron Section*/
  .jumbo {
    background-color: #fff;
    max-width: 1200px;
    margin-left: 95px;
  }
  
  .jumbo h2 {
    font-size: 40px;
    padding-top: 15px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .jumbo h2 span {
    color: dodgerblue;
  }
  
  .jumbo p {
    text-shadow: 0 0;
    font-size: 16px;
    color: #666;
    margin-bottom: 0;
  }
  
  
  .banner {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  
  .cards {
    background-color: lemonchiffon;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .col {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  #guidance {
    padding: 20px;
    background-color: lemonchiffon;
    margin: 0;
    text-align: center;
  }
  
  
  .image-container {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;

  }

  .image {
    height: 270px;
    width: 290px;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    filter: brightness(5.0);
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    text-align: center;  
    font-size: 40px;
  }

  .information {
    border: 2px solid black;
  }

  #mission {
      text-align: center;
      font-size: 18px;
      padding-left: 20px;
      padding-right: 20px;
  }

  #team {
      text-align: center;
      font-size: 18px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
  }

  /*@media only screen and (max-width: 570px) {
    .top-container {
      flex-direction: column;
      width: 99.9%;
      padding-top: 1px;
      height: auto;
    }
  }*/

    .logo-container-header-mobile {
      display: flex;
      height: auto;
      justify-content: space-around;
    }

  /*@media only screen and (max-width: 480px), (orientation: landscape) {
    body {
      font-size: 12px;
    }
  }*/

  @media screen and (max-resolution: 150dpi) and (max-width: 480px) {
    h2 {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .col {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto;
    }
  }

  

  /*Footer Section*/
  .footer {
    padding: 40px 0px;
    background-color: #000;
    color: #fff;
  }

  
  .footer h3 {
    font-size: 20px;
    color: dodgerblue;
    margin-left: 20px;
    display: center;
    text-align: center;
  }
  
  .footer p {
    font-size:12px;
    margin-bottom: 0;
    margin-left: 20px;
    text-align: center;
  }


  p.copyright {
    margin-left: 10px;
 }

 footer span {
   color: blue;
 }

 /* we'll see*/

 .footer-section {
   width: 100%;
   height: 90px;
   font-size: 14px;
   display: flex;
   flex-wrap: wrap;
   background-color: whitesmoke;
   border-top: none;
 }

 .left-footer {
   margin-left: 10px;
 }

 .right-footer {
   width: 30%;
   text-decoration: none;
   margin-left: 68%;
   margin-right: 20px;
   display: flex;
   flex-wrap: wrap;
   margin-top: 10px;
   justify-content: flex-end;
   position: absolute;
 }

 .right-footer nav a {
   font-size: 14px;
   text-decoration: none;
   margin-right: 16px;
   gap: 20px;

 }

 
  